@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* body .m-container {
  width: 89.7435897436%;
  height: auto;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: clamp(32px, 14.95296vw, 128px);
}
* body .m-container .main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
* body .m-container .main-content .heading {
  width: clamp(192.5px, 89.9514vw, 770px);
}
* body .m-container .main-content .pc-models-container {
  display: none;
}
* body .m-container .main-content .model {
  margin-top: clamp(32px, 14.95296vw, 128px);
  filter: drop-shadow(0px 57px 66px rgba(0, 0, 0, 0.15));
}
* body .m-container .main-content .model-text {
  color: #75B9BE;
  margin-top: clamp(8px, 3.73824vw, 32px);
}
* body .m-container .main-content .rekt-button {
  background-color: #75B9BE;
  font-family: "Montserrat";
  font-style: normal;
  color: #1E1E1E;
  font-weight: 700;
  font-size: clamp(10.5px, 4.90644vw, 42px);
  margin-top: clamp(32px, 14.95296vw, 128px);
  border-radius: 100px;
  outline: none;
  border: none;
  width: clamp(155.5px, 72.66204vw, 622px);
  height: clamp(27.5px, 12.8502vw, 110px);
  transition: 0.3s all;
}
* body .m-container .main-content .rekt-button:hover {
  background-color: #65B1B7;
}
* body .astronaut {
  width: clamp(35px, 16.3548vw, 140px);
  height: clamp(50px, 23.364vw, 200px);
  border-radius: 100px;
  position: fixed;
  right: clamp(16px, 1.6666666667vw, 64px);
  bottom: clamp(16px, 1.6666666667vw, 64px);
  transition: 0.3s;
  z-index: 100;
}
* body .astronaut .fill-arrow {
  font-size: clamp(18.5px, 8.4541062802vw, 70px);
  color: white;
}

@media screen and (min-width: 768px) {
  * body .m-container {
    width: 89.7435897436%;
    height: auto;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: clamp(64px, 13.7486573577vw, 256px);
  }
  * body .m-container .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  * body .m-container .main-content .pc-models-container {
    display: none;
  }
  * body .m-container .main-content .heading {
    width: clamp(400px, 85.9291084855vw, 1600px);
  }
  * body .m-container .main-content .model {
    width: clamp(300px, 64.4468313641vw, 1200px);
    height: clamp(300px, 64.4468313641vw, 1200px);
    margin-top: clamp(32px, 6.8743286788vw, 128px);
    filter: drop-shadow(0px 57px 66px rgba(0, 0, 0, 0.15));
  }
  * body .m-container .main-content .model-text {
    color: #75B9BE;
    margin-top: clamp(24px, 5.1557465091vw, 96px);
    font-size: clamp(33.5px, 7.1965628357vw, 134px);
  }
  * body .phone-link {
    width: clamp(45px, 10.1237345332vw, 180px);
    height: clamp(45px, 10.1237345332vw, 180px);
    border-radius: 100px;
    position: fixed;
    background-color: #FF6A3A;
    right: clamp(16px, 1.6666666667vw, 64px);
    bottom: clamp(16px, 1.6666666667vw, 64px);
    transition: 0.3s;
    z-index: 100;
  }
  * body .phone-link:hover {
    background-color: #FF480C;
  }
  * body .phone-link .fill-arrow {
    font-size: clamp(20px, 4.4994375703vw, 80px);
    color: white;
  }
}
@media screen and (min-width: 1200px) {
  * body .main-screen {
    width: 100%;
    height: auto;
  }
  * body .main-screen .m-container {
    width: 86.4583333333%;
    margin-top: clamp(32px, 3.33312vw, 128px);
  }
  * body .main-screen .m-container .main-content .rekt-button {
    display: none;
  }
  * body .main-screen .m-container .main-content .heading {
    width: clamp(815.5px, 84.94248vw, 3262px);
    height: clamp(122px, 12.70752vw, 488px);
  }
  * body .main-screen .m-container .main-content .model {
    display: none;
  }
  * body .main-screen .m-container .main-content .pc-models-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  * body .main-screen .m-container .main-content .pc-models-container .three-t {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    transition: color 0.3s ease;
    font-size: clamp(8px, 0.83328vw, 32px);
    position: absolute;
    left: clamp(649px, 67.59984vw, 2596px);
    top: clamp(240px, 24.9984vw, 960px);
  }
  * body .main-screen .m-container .main-content .pc-models-container .model-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: clamp(64px, 6.66624vw, 256px);
  }
  * body .main-screen .m-container .main-content .pc-models-container .model-container .text, * body .main-screen .m-container .main-content .pc-models-container .model-container .orange-text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    transition: color 0.3s ease;
    font-size: clamp(8px, 0.83328vw, 32px);
  }
  * body .main-screen .m-container .main-content .pc-models-container .model-container .one-t {
    position: absolute;
    left: clamp(567px, 59.05872vw, 2268px);
    top: clamp(340px, 35.4144vw, 1360px);
  }
  * body .main-screen .m-container .main-content .pc-models-container .model-container .two-t {
    position: absolute;
    left: clamp(267px, 27.81072vw, 1068px);
    top: clamp(315px, 32.8104vw, 1260px);
  }
  * body .main-screen .m-container .main-content .pc-models-container .model-container .zero-t {
    position: absolute;
    left: clamp(327.5px, 34.1124vw, 1310px);
    top: clamp(232.5px, 24.2172vw, 930px);
  }
  * body .main-screen .m-container .main-content .pc-models-container .model-container .model-pc {
    width: clamp(179px, 18.64464vw, 716px);
    height: clamp(177px, 18.43632vw, 708px);
  }
  * body .main-screen .m-container .main-content .pc-models-container .model-container .house-line {
    position: absolute;
    width: clamp(56px, 5.83296vw, 224px);
    height: clamp(18px, 1.87488vw, 72px);
    left: clamp(340px, 35.4166666667vw, 1360px);
    top: clamp(327.5px, 34.1124vw, 1310px);
  }
  * body .main-screen .m-container .main-content .pc-models-container .model-container .regular-line {
    position: absolute;
    width: clamp(56px, 5.83296vw, 224px);
    height: clamp(18px, 1.87488vw, 72px);
    left: clamp(564px, 58.74624vw, 2256px);
    top: clamp(250px, 26.04vw, 1000px);
  }
  * body .main-screen .m-container .main-content .pc-models-container .model-container .about-line {
    position: absolute;
    width: clamp(56px, 5.83296vw, 224px);
    height: clamp(18px, 1.87488vw, 72px);
    left: clamp(240px, 24.9984vw, 960px);
    top: clamp(240px, 24.9984vw, 960px);
  }
  * body .main-screen .m-container .main-content .pc-models-container .model-container .family-line {
    position: absolute;
    width: clamp(56px, 5.83296vw, 224px);
    height: clamp(18px, 1.87488vw, 72px);
    left: clamp(660px, 68.7456vw, 2640px);
    top: clamp(347.5px, 36.1956vw, 1390px);
  }
  * body .main-screen .m-container .main-content .pc-models-container .model-container .hex {
    width: clamp(155.5px, 16.19688vw, 622px);
  }
  * body .main-screen .m-container .main-content .pc-models-container .model-container .orange-point {
    width: clamp(20.5px, 2.13528vw, 82px);
    height: clamp(20.5px, 2.13528vw, 82px);
    background-color: transparent;
    display: flex;
    transition: background-color 0.3s all ease;
    align-items: center;
    justify-content: center;
    border: 2px solid #FF6A3A;
    border-radius: 100px;
  }
  * body .main-screen .m-container .main-content .pc-models-container .model-container .orange-point .circle {
    width: clamp(12px, 1.24992vw, 48px);
    height: clamp(12px, 1.24992vw, 48px);
    background-color: #FF6A3A;
    border-radius: 100px;
    cursor: pointer;
  }
  * body .main-screen .m-container .main-content .pc-models-container .model-container .zero {
    position: absolute;
    left: clamp(300px, 31.248vw, 1200px);
    top: clamp(227.5px, 23.6964vw, 910px);
  }
  * body .main-screen .m-container .main-content .pc-models-container .model-container .one {
    position: absolute;
    left: clamp(633px, 65.93328vw, 2532px);
    top: clamp(335px, 34.8936vw, 1340px);
  }
  * body .main-screen .m-container .main-content .pc-models-container .model-container .two {
    position: absolute;
    left: clamp(317.5px, 33.0708vw, 1270px);
    top: clamp(310px, 32.2896vw, 1240px);
  }
  * body .main-screen .m-container .main-content .pc-models-container .model-container .three {
    position: absolute;
    left: clamp(624px, 64.99584vw, 2496px);
    top: clamp(235px, 24.4776vw, 940px);
  }
  * body .main-screen .m-container .main-content .pc-models-container .model-container .three:hover + .three-t {
    transition: color 0.3s ease;
    color: #FF6A3A;
  }
  * body .main-screen .m-container .main-content .pc-models-container .model-container .zero:hover .three-t {
    transition: color 0.3s ease;
    color: #FF6A3A;
  }
  * body .main-screen .m-container .main-content .pc-models-container .model-container .one:hover + .text, * body .main-screen .m-container .main-content .pc-models-container .model-container .two:hover + .text, * body .main-screen .m-container .main-content .pc-models-container .model-container .zero:hover + .text {
    transition: color 0.3s ease;
    color: #FF6A3A;
  }
  * body .main-screen .m-container .main-content .pc-models-container .model-container .two:hover + .three-t {
    transition: color 0.3s ease;
    color: #FF6A3A;
  }
  * body .main-screen .m-container .main-content .pc-models-container .model-container .one:hover, * body .main-screen .m-container .main-content .pc-models-container .model-container .two:hover, * body .main-screen .m-container .main-content .pc-models-container .model-container .three:hover, * body .main-screen .m-container .main-content .pc-models-container .model-container .zero:hover {
    width: clamp(22px, 2.29152vw, 88px);
    height: clamp(22px, 2.29152vw, 88px);
  }
  * body .main-screen .m-container .main-content .pc-models-container .model-container .one {
    transition: 0.3s all;
  }
  * body .main-screen .m-container .main-content .pc-models-container .model-container .one:hover > .one-c {
    transition: 0.3s all;
    background-color: #FF480C;
  }
  * body .main-screen .m-container .main-content .pc-models-container .model-container .two {
    transition: 0.3s all;
  }
  * body .main-screen .m-container .main-content .pc-models-container .model-container .two:hover > .two-c {
    transition: 0.3s all;
    background-color: #FF480C;
  }
  * body .main-screen .m-container .main-content .pc-models-container .model-container .three {
    transition: 0.3s all;
  }
  * body .main-screen .m-container .main-content .pc-models-container .model-container .three:hover > .three-c {
    transition: 0.3s all;
    background-color: #FF480C;
  }
  * body .main-screen .m-container .main-content .pc-models-container .model-container .zero {
    transition: 0.3s all;
  }
  * body .main-screen .m-container .main-content .pc-models-container .model-container .zero:hover > .zero-c {
    transition: 0.3s all;
    background-color: #FF480C;
  }
  * body .main-screen .m-container .main-content .model-text {
    display: none;
  }
  * body .astronaut {
    width: clamp(50px, 5.208vw, 200px);
    height: clamp(75px, 7.812vw, 300px);
    position: fixed;
    right: clamp(16px, 1.6666666667vw, 64px);
    bottom: clamp(16px, 1.6666666667vw, 64px);
    transition: 0.3s;
    z-index: 100;
  }
}/*# sourceMappingURL=main.css.map */