@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* body .container {
  width: 89.7435897436%;
  height: auto;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: clamp(32px, 14.95296vw, 128px);
}
* body .container .tour-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
* body .container .tour-content .tour-heading {
  color: #FF6A3A;
}
* body .container .tour-content .tour-paragraph {
  display: none;
}
* body .container .tour-content .rooms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
* body .container .tour-content .rooms .line {
  width: clamp(8px, 3.73824vw, 32px);
  height: clamp(130px, 60.7464vw, 520px);
  background-color: #75B9BE;
  border-radius: 100px;
  margin-top: clamp(16px, 7.47648vw, 64px);
}
* body .container .tour-content .rooms .room-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
* body .container .tour-content .rooms .room-description .room-name {
  margin-top: clamp(16px, 7.47648vw, 64px);
  color: #1E1E1E;
}
* body .container .tour-content .rooms .room-description .room-paragraph {
  width: clamp(157.5px, 73.5966vw, 630px);
  font-size: clamp(8.5px, 3.97188vw, 34px);
  margin-top: clamp(8px, 3.73824vw, 32px);
}
* body .container .tour-content .rooms .room-description .room {
  width: clamp(175px, 81.774vw, 700px);
  height: clamp(175px, 81.774vw, 700px);
  margin-top: clamp(10px, 4.6728vw, 40px);
}
* body .container .tour-content .rooms-computer {
  display: none;
}

@media screen and (min-width: 482px) {
  * body .house-screen {
    width: 100%;
    height: 400vh;
  }
  * body .house-screen .container {
    width: 86.4583333333%;
    margin-top: clamp(64px, 6.66624vw, 256px);
  }
  * body .house-screen .container .tour-content .tour-heading {
    font-size: clamp(32px, 3.33312vw, 128px);
  }
  * body .house-screen .container .tour-content .tour-paragraph {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: clamp(12px, 1.24992vw, 48px);
    margin-top: clamp(16px, 1.66656vw, 64px);
    display: flex !important;
  }
  * body .house-screen .container .tour-content .rooms {
    display: none;
  }
  * body .house-screen .container .tour-content .rooms .line {
    display: none;
  }
  * body .house-screen .container .tour-content .rooms-computer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: clamp(64px, 6.66624vw, 256px);
  }
  * body .house-screen .container .tour-content .rooms-computer .main-model {
    width: clamp(182.5px, 19.0092vw, 730px);
    height: clamp(200px, 20.832vw, 800px);
    position: absolute;
    top: clamp(3000px, 312.48vw, 12000px);
    left: clamp(389.5px, 40.57032vw, 1558px);
  }
  * body .house-screen .container .tour-content .rooms-computer .step-one {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  * body .house-screen .container .tour-content .rooms-computer .step-one .arrow-blue {
    width: clamp(96.5px, 10.05144vw, 386px);
    height: clamp(130px, 13.5408vw, 520px);
  }
  * body .house-screen .container .tour-content .rooms-computer .step-one .third {
    position: absolute;
    left: clamp(476.685px, 49.6515096vw, 1906.74px);
    top: clamp(2052px, 213.73632vw, 8208px);
  }
  * body .house-screen .container .tour-content .rooms-computer .step-one .third-c {
    position: absolute !important;
    left: clamp(582.5px, 60.6732vw, 2330px) !important;
    top: clamp(2050px, 213.528vw, 8200px) !important;
  }
  * body .house-screen .container .tour-content .rooms-computer .step-one .fifth {
    position: absolute;
    left: clamp(476.685px, 49.6515096vw, 1906.74px);
    top: clamp(2592.83px, 270.0691728vw, 10371.32px);
  }
  * body .house-screen .container .tour-content .rooms-computer .step-one .fifth-c {
    position: absolute;
    left: clamp(582.5px, 60.6732vw, 2330px) !important;
    top: clamp(2592.5px, 270.0348vw, 10370px) !important;
  }
  * body .house-screen .container .tour-content .rooms-computer .step-one .hallway-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: clamp(582.5px, 60.6732vw, 2330px);
    top: clamp(1534px, 159.78144vw, 6136px);
  }
  * body .house-screen .container .tour-content .rooms-computer .step-one .hallway-container .hallway-heading-container {
    display: flex;
    align-items: center;
  }
  * body .house-screen .container .tour-content .rooms-computer .step-one .hallway-container .hallway-heading-container .one {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    font-size: clamp(12.5px, 1.302vw, 50px);
    color: #FF6A3A;
  }
  * body .house-screen .container .tour-content .rooms-computer .step-one .hallway-container .hallway-heading-container .hallway-heading {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: clamp(11.5px, 1.19784vw, 46px);
    margin-left: clamp(4px, 0.41664vw, 16px);
  }
  * body .house-screen .container .tour-content .rooms-computer .step-one .hallway-container .hallway-paragraph {
    width: clamp(253.5px, 26.40456vw, 1014px);
    font-family: "Open Sans";
    font-style: normal;
    margin-top: clamp(4px, 0.41664vw, 16px);
    font-weight: 400;
    font-size: clamp(9.5px, 0.98952vw, 38px);
  }
  * body .house-screen .container .tour-content .rooms-computer .zero-s {
    display: flex;
    align-items: start;
    margin-left: clamp(360px, 37.4976vw, 1440px);
  }
  * body .house-screen .container .tour-content .rooms-computer .zero-s .arrow-blue {
    width: clamp(96.5px, 10.05144vw, 386px);
    height: clamp(130px, 13.5408vw, 520px);
  }
  * body .house-screen .container .tour-content .rooms-computer .zero-s .hallway-container {
    position: static !important;
    margin-left: 19px !important;
  }
  * body .house-screen .container .tour-content .rooms-computer .model {
    width: clamp(75px, 7.812vw, 300px);
    height: clamp(84.5px, 8.80152vw, 338px);
  }
  * body .house-screen .container .tour-content .rooms-computer .one-m {
    position: absolute;
    top: clamp(1682px, 175.19712vw, 6728px);
    left: clamp(442.5px, 46.0908vw, 1770px);
  }
  * body .house-screen .container .tour-content .rooms-computer .two-m {
    position: absolute;
    top: clamp(1940px, 202.0704vw, 7760px);
    left: clamp(442.5px, 46.0908vw, 1770px);
  }
  * body .house-screen .container .tour-content .rooms-computer .three-m {
    position: absolute;
    top: clamp(2207px, 229.88112vw, 8828px);
    left: clamp(442.5px, 46.0908vw, 1770px);
  }
  * body .house-screen .container .tour-content .rooms-computer .fourth-m {
    position: absolute;
    top: clamp(2482px, 258.52512vw, 9928px);
    left: clamp(442.5px, 46.0908vw, 1770px);
  }
  * body .house-screen .container .tour-content .rooms-computer .fifth-m {
    position: absolute;
    top: clamp(2747px, 286.12752vw, 10988px);
    left: clamp(442.5px, 46.0908vw, 1770px);
  }
  * body .house-screen .container .tour-content .rooms-computer .step-two {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  * body .house-screen .container .tour-content .rooms-computer .step-two .arrow-orange {
    width: clamp(96.5px, 10.05144vw, 386px);
    height: clamp(130px, 13.5408vw, 520px);
    position: absolute;
    left: clamp(388.185px, 40.4333496vw, 1552.74px);
    top: clamp(1789.5px, 186.39432vw, 7158px);
  }
  * body .house-screen .container .tour-content .rooms-computer .step-two .fourth-line {
    position: absolute;
    left: clamp(388.185px, 40.4333496vw, 1552.74px);
    top: clamp(2322px, 241.85952vw, 9288px);
  }
  * body .house-screen .container .tour-content .rooms-computer .step-two .sixth-line {
    position: absolute;
    left: clamp(388.185px, 40.4333496vw, 1552.74px);
    top: clamp(2857px, 297.58512vw, 11428px);
  }
  * body .house-screen .container .tour-content .rooms-computer .step-two .fourth-c {
    position: absolute !important;
    left: clamp(97px, 10.10352vw, 388px) !important;
    top: clamp(2321px, 241.75536vw, 9284px) !important;
  }
  * body .house-screen .container .tour-content .rooms-computer .step-two .sixth-c {
    position: absolute !important;
    left: clamp(97.5px, 10.1556vw, 390px) !important;
    top: clamp(2855px, 297.3768vw, 11420px) !important;
  }
  * body .house-screen .container .tour-content .rooms-computer .step-two .living-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: right;
    left: clamp(97px, 10.10352vw, 388px);
    top: clamp(1790px, 186.4464vw, 7160px);
  }
  * body .house-screen .container .tour-content .rooms-computer .step-two .living-container .living-heading-container {
    display: flex;
    align-items: center;
    justify-content: end;
  }
  * body .house-screen .container .tour-content .rooms-computer .step-two .living-container .living-heading-container .living-heading {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: clamp(11.5px, 1.19784vw, 46px);
  }
  * body .house-screen .container .tour-content .rooms-computer .step-two .living-container .living-heading-container .two {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    font-size: clamp(12.5px, 1.302vw, 50px);
    color: #75B9BE;
    margin-left: clamp(4px, 0.41664vw, 16px);
  }
  * body .house-screen .container .tour-content .rooms-computer .step-two .living-container .living-paragraph {
    width: clamp(282px, 29.37312vw, 1128px);
    margin-top: clamp(4px, 0.41664vw, 16px);
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: clamp(9.5px, 0.98952vw, 38px);
  }
}/*# sourceMappingURL=tour.css.map */